<div class="container">
  <header class="filters">
    <div class="input-filter">
      <input placeholder="Name" [(ngModel)]="filters.name" (input)="filterSerials()" name="name">
    </div>
    <div class="select-filter">
      <select [(ngModel)]="filters.genre" (change)="filterSerials()">
        <option value="" selected>Genre</option>
        <option *ngFor="let genreFilter of genreTypes | keyvalue" [value]="genreFilter.key">{{genreFilter.key}}</option>
      </select>
    </div>
    <div class="select-filter">
      <select [(ngModel)]="filters.premier" (change)="filterSerials()">
        <option value="" selected>Premier Year</option>
        <option *ngFor="let yearFilter of years" [value]="yearFilter">{{yearFilter}}</option>
      </select>
    </div>
  </header>
  <table class="table">
    <thead>
      <tr>
        <th class="{{this.sortOptions.field === 'name' ? this.sortOptions.order : ''}}" (click)="sortSerials('name')">Name</th>
        <th class="{{this.sortOptions.field === 'season' ? this.sortOptions.order : ''}}" (click)="sortSerials('season')">Season</th>
        <th class="{{this.sortOptions.field === 'networks' ? this.sortOptions.order : ''}}" (click)="sortSerials('networks')">Network</th>
        <th class="{{this.sortOptions.field === 'premier' ? this.sortOptions.order : ''}}" (click)="sortSerials('premier')">Premier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serial of serials">
        <td>
          <p class="name">{{serial.name}}</p>
          <div class="genres">
            <span class="genre bg-{{genreTypes[genre]}}" *ngFor="let genre of serial.genres">
              {{genre}}
            </span>
          </div>
        </td>
        <td>{{serial.season}}</td>
        <td>
          <span class="network" *ngFor="let network of serial.networks">
            {{network}}
          </span>
        </td>
        <td>{{serial.premier | date}}</td>
      </tr>
    </tbody>
  </table>
  <footer class="footer">
    <div class="offset"></div>
    <ul class="pagination">
      <li (click)="goToPage(page-1)" [ngClass]="{'disabled': page === 1}" class="item"><i class="arrow left"></i></li>
      <li (click)="goToPage(i+1)" class="item" [ngClass]="{'active': page === i + 1}" *ngFor="let in of counter(pages); let i = index">
        {{i + 1}}
      </li>
      <li (click)="goToPage(page+1)" [ngClass]="{'disabled': page === pages}" class="item"><i class="arrow right"></i></li>
    </ul>
    <ul class="per-page-list">
      <li (click)="changePerPage(value)" class="item" [ngClass]="{'active': perPage === value}" *ngFor="let value of perPageVariants">
        {{value}}
      </li>
    </ul>
  </footer>
</div>
